.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #1540c3;
    display: flex;
    align-items: center;
    position:sticky;
    top: 0;
}

.topbarLeft{
    flex: 2;

}
.topbarCenter{
    flex: 5;

}
.topbarRight{
    flex: 6;

}

.logo{
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    color: rgb(223, 160, 160);
    cursor: pointer;
    text-shadow: 1px 2px #eaeaea;
}

.topbarImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.searchbar{
    width: 80%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;

}

.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;

}

.searchInput{
    border:none;
    width: 70%;

}

.searchInput:focus{
    outline:none
}

.topbarRight{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(216, 216, 21);
}

.topbarLink{
    margin-right: 0px;
    font-size: 14px;
    cursor: pointer;
    align-items: right;

}

.topbarIcons{
    display: flex;

}

.topbarItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;

}

.topbarIconBadge{
    width: 15px;
    height: 15;
    background-color: yellow;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5 px;
    right: -5 px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}

.navbar-li{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(216, 216, 21);
    /* display: inline-block; */
    /* padding: 10px; */
}

.nav-bar-link{
    color: white;
    text-decoration: none;
}

.nav-bar-link:hover{
    color: yellow;
}