.homeContainer{
    display: flex;
    width: 100%;

}

.rsis-image {
    background-size: contain !important;
    display: flex;

}

.ImageSlider {
    background-size: contain !important;
    display: flex;
}